body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  position: relative;
  display: flex;
}

video{
  width: 130vw;
  position: absolute;
  top: 0;
  left: -10%;
}

header{
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 6.98vw;
  width: 80%;
  padding-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_block{
  width: 17.75vw;
  height: 3.13vw;
}

.left_block{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn_one{
  width: 21.2vw;
  height: 3.042vw;
  border-radius: 2.43vw;
  border: .139vw solid #00D1FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .7vw;
  font-weight: 500;
  font-size: 1.1vw;
  color: #FFFFFF;
}

.btn_two{
  width: 15.875vw;
  height: 3.32vw;
  border-radius: 2.43vw;
  background: #00D1FF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0B0A3E;
  font-weight: 500;
  font-size: 1.1vw;
  margin-right: 2.15vw;
}

.user{
  width: 1.88vw;
  height: 1.88vw;
  margin-right: 2.15vw;
}

.burger{
  width: 2.37vw;
  height: 1.88vw;
}

h1{
  display: block;
  position: absolute;
  top: 9.847vw;
  width: 80%;
  padding-left: 10%;
  background: linear-gradient(93.25deg, #00E0FF 0.98%, #FF00B8 104.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 3.125vw;
}

.hotel{
  position: absolute;
  top: 35.486vw;
  left: 10%;
  width: 80%;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.736vw;
}

.cashback{
  position: absolute;
  top: 42vw;
  left: 10%;
  width: 80%;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.736vw;
  text-transform: uppercase;
}

.data{
  width: 80%;
  height: 4.51vw;
  position: absolute;
  left: 10%;
  top: 24.25vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.data img{
  width: 100%;
  height: 100%;
}